<div class="sidebar animated fadeInDown">
    <div class="logo-title">
      <div class="title">
        <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture">
        <h3 title=""><a href="/">{{ .Site.Params.Title }}</a></h3>
        <div class="description">
          <p>{{ .Site.Params.description }}</p>
        </div>
      </div>
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
        <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
          <i class="fa fa-2x {{ $item.icon }}" aria-hidden="true"></i>
        </a>          
        </li>
        {{ end }}
    </ul>
	<center>
	<br/>
		<a href="https://www.ulb.be">
			<img src="{{ .Site.Params.ulbLogo | absURL }}" alt="ulb picture" width="13%" height="13%">
		</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://mlg.ulb.ac.be/wordpress/">
			<img src="{{ .Site.Params.mlgLogo | absURL }}" alt="mlg picture" width="13%" height="13%">
		</a>
	</center>
    <div class="footer">
		
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ now.Format "2006"}} Davide Guastella. Website powered by <a href="https://gohugo.io/">Hugo</a></div>
      </div>
    </div>
</div>