{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ range $paginator.Pages }}
  

	
  <div class="post animated fadeInDown">
    <div class="post-title">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </div>
    <div class="post-content"><div class="p_part"><p>{{ .Summary }}</p></div>
  
  
      
  <div class="p_part"><p></p></div></div>
    <div class="post-footer">
      <div class="meta">
        <div class="info"><i class="fa fa-sun-o"></i><span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          {{ with .Params.tags }}
          {{- range $index, $el := . -}}
          <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
          {{- end -}}
          {{ end }}       
        </div>
      </div>
    </div>
  </div>
  {{ end }}


  <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
		
		<h2>WELCOME</h2>
        {{.Content}}
	</div>
	
	<div class="pagination">
  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}
